*{
    scroll-behavior: smooth;
}

:root{
 
    --white: #fff;
 
    --black: #000;
    --blackl: rgba(0, 0, 0, 0.5);

    --branding: rgba(183, 43, 226, 0.5);
}

.shopcakes{
    color: var(--black);
    flex-direction: column;
    /* margin-top: 5%; */
    /* margin-bottom: 1%; */
}

.thebox{
    height: 300px;
    width: 90vw;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item{
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); */
    background-color: var(--white);
    border-radius: 25px;
    height: 90%;
    width: 90%;
}

.itemimage{
    height: 90%;
    width: 40%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: linear-gradient(to bottom,  var(--branding), rgb(69, 6, 88));
}

.itemimage img{
    width: 110%;
    object-fit: contain;
}

.itemdetails{
    color: var(--black);
}

.itemdetails p{
    color: var(--blackl);
}

.submitbtn{
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background: linear-gradient(to bottom,  var(--branding), rgb(69, 6, 88));
    border: none;
}

.submitbtn:hover{
    font-weight: bold;
}