:root{
    --myback: rgba(0, 0, 0, 0.089);
    --white: white;
    --black: black;
    --blackl: rgba(0, 0, 0, 0.5);
    --branding: rgba(183, 43, 226, 0.5);
    --shadow: rgba(0, 0, 0, 0.5);
    --footer: rgb(209, 209, 209);
}

body{
    background-color: var(--myback);
}

.mylogo{
    height: 100%;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
}

.mylogo .navbar-brand{
    color: var(--branding);
}

.heading{
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 1%;
    color: var(--black);
}

.lined{
    background-color: var(--black);
    height: 0.5vh;
    width: 5%;
    border-radius: 100px;
}

.category{
    /* border: solid red 1px; */
    height: 260px;
}

.box{
    height: 250px;
    width: 200px;
    border-radius: 15px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img{
    height: 85%;
    width: 95%;
}

.image{
    margin-top: 3%;
    height: 190px;
    width: 190px;
    border-radius: 15px;
    overflow: hidden;
}

.box .img img{
    width:200%;
    height:200%;
    object-fit: cover;
}

.name{
    font-size: 20px;
    font-weight: bold;
    color: var(--black);
}

.box:hover{
    box-shadow: 0px 0px 3px var(--shadow);
    transition: 0.3s;
    height: 255px;
    width: 205px;
}

.box:hover .img{
    height: 100%;
    transition: 0.3s;
}

.box:hover .image{
    transform: translateY(-1%);
    height: 90%;
    transition: 0.3s;
}

.box:hover .hov_image{
    height: 100%;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}

.box:hover .name{
    height: 0%;
    opacity: 0%;
    transition: 0.3s;
}

.cat-links{
    text-decoration: none;
}

.visit{
    height: 70vh;
    width: 100%;
}

.sec{
    height: 50vh;
    min-width: 80vw;
    width: 80vw;
    border-radius: 30px;
    color: var(--black);
    background-color: var(--white);
}

.map{
    height: 100%;
    width: 50%;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.embed{
    height: 90%;
    width: 90%;
    /* border: 0.1px solid rgba(0, 0, 0, 0.3); */
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center
}

.embed iframe{
    transform: scale(1.1);
}

.address{
    height: 100%;
    width: 50%;
    flex-direction: column;
}

.address p{
    color: var(--blackl);
}

.mybtn{
    border-radius: 50px;
    width: 150px;
    background: linear-gradient(to bottom,  var(--branding), rgb(69, 6, 88));
    border: none;
    color: var(--black);
}

.mybtn:hover{
    font-weight: bold;
}

.myfooter{
    background-color: var(--footer);
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myfooter .container{
    height: 90%;
}

.feedback{
    position: relative;
    height: 50vh;
}

.your-feedback{
    /* position: absolute; */
    height:10%;
    width: 200px;
    top: 100px;
    transform: rotate(-90deg);
    color: var(--black);
}

.feedback .myform{
    margin-left: -50px;
}

.feedback .myform input{
    margin: 10px 0 10px 0;
    border-radius: 50px;
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: var(--white);
}

.feedback .myform input:focus{
    outline: none;
}

.mybutton{
    font-weight: bold;
    background-color: var(--branding) !important;
    border: none;
}

.name-tag{
    display: flex;
    justify-content: center;
    align-items: center;
}

.names{
    background-color: var(--branding);
    color: var(--black);
    text-align: center;
    padding: 50px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}

.connect .social-links{
    margin-right: -50px;
    flex-direction: column;
}

.connect-with-us{
    margin-right: -80px;
    height:10%;
    width: 200px;
    top: 100px;
    transform: rotate(90deg);    
}

.social-links a{
    text-decoration: none;
    color: var(--blackl);
    background-color: var(--white);
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    width: 200px;
    justify-content: end;
    display: flex;
    margin: 10px 0 10px 0;
}

.insta:hover{
    color: rgb(255, 0, 191);
}

.twitter:hover{
    color: rgb(29, 161, 242);
}

.fb:hover{
    color: rgb(66, 103, 178);
}

.youtube:hover{
    color: red;
}